body{
    background-color:white;
}
form{ 
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -40%;
    transform: translate(-50%, -50%) 
}
h1{
    color:red;
    font-size:30pt;
}
label{
    background-color: yellow;
}
