header{
    background-color: black;
    height: 40px;
}
h1{
    text-align: center;
    color:white;
    font-family: verdana;
}
h1:hover{
    color: white;
    font-family: verdana;
    font-weight: bold;
    transition: 1s;
    text-decoration: undeline;
}
#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
#menu ul li { 
    display: inline; 
}
nav#menu{
    text-align: center;
    font-size: 25pt;
    
}
nav#menu a{
    text-decoration: none;
 }
 iframe{
     border: 0px;
 }
 li{
    border: 0.5px solid #dddddd;
    background-color: #ff00000;
    padding: 5px;
    margin: 4px;
    font-family: verdana;
    color: black;
}
li:hover{
    color:red;
    transition:1s;
    text-align: center;
}
li a:hover{
    color:#C8AB37;
    
}
li a{
 color:black;
}
ul li{
    width: 500px;
}
ul{
    position: relative;
    top: -25px;
}
section{
    //background-color: #dddddd;
    width: 1250px;
    height: 900px;
}
ul li#user{
    font-size: 12pt;
    text-align: right;
}
span{
    background-color: #dddddd;
}
img{
    position: absolute; 
	left: 23%;
	top: 50%;
}
footer h2{
    text-align: center;
}
body{
    background-color: black;
}

nav{
    background-color: black;
}
section{
    background-color: white;
    border: 0.5px solid #dddddd;
}
footer h2{
    color: white;
}